<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Selection/blob/main/Feature_Selection_Dropping_constant_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
### Import pandas to create Dataframe
import pandas as pd

### Make Dataframe 
data = pd.DataFrame({'A': [1,2,4,1,2,4],
                     'B': [4,5,6,7,8,9],
                     'C': [0,0,0,0,0,0],
                     'D': [1,1,1,1,1,1]})

In [42]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

#### Variance Threshold

In [43]:
### It will remove zero variance features
from sklearn.feature_selection import VarianceThreshold
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [44]:
var_thres.get_support()

array([ True,  True, False, False])

In [45]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [46]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[var_thres.get_support()]]

In [47]:
print(len(constant_columns))

2

In [48]:
for feature in constant_columns:
  print(feature)

C
D

In [49]:
data.drop(constant_columns, axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

#### Let's practise on bigger dataset

In [50]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [51]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"gbiamgaurav","key":"25adcca0b19d33a63cbc1bc66924e01d"}'}

In [52]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [53]:
! cp kaggle.json ~/.kaggle/

In [54]:
! chmod 600 ~/.kaggle/kaggle.json

In [55]:
! kaggle competitions download -c santander-customer-transaction-prediction

santander-customer-transaction-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [56]:
! unzip /content/santander-customer-transaction-prediction.zip

Archive:  /content/santander-customer-transaction-prediction.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: sample_submission.csv
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv                y

replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:   inflating: train.csv               y

In [57]:
df = pd.read_csv('/content/train.csv')

In [58]:
df.shape

(200000, 202)

In [59]:
df = pd.read_csv('/content/train.csv', nrows=10000)

In [60]:
df.shape

(10000, 202)

In [61]:
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [62]:
df.isnull().sum()

ID_code    0
target     0
var_0      0
var_1      0
var_2      0
          ..
var_195    0
var_196    0
var_197    0
var_198    0
var_199    0
Length: 202, dtype: int64

In [63]:
df.dtypes

ID_code     object
target       int64
var_0      float64
var_1      float64
var_2      float64
            ...
var_195    float64
var_196    float64
var_197    float64
var_198    float64
var_199    float64
Length: 202, dtype: object

In [64]:
df.drop(labels=['ID_code'], axis=1, inplace=True)

In [65]:
X = df.drop(labels=['target'], axis=1)
y = df['target']

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(labels=['target'], axis=1), df['target'], test_size=0.3, random_state=0)

In [67]:
X_train.shape, X_test.shape

((7000, 200), (3000, 200))

#### Let's apply the variance threshold

In [68]:
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [69]:
X_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
7681,10.4863,-2.7398,14.2790,5.5327,10.3476,-16.4025,4.4729,19.2719,1.4514,8.0069,...,4.5727,8.3162,3.2059,4.0840,19.4522,-0.5064,0.7873,10.2313,20.7379,-18.0979
9031,10.6967,7.6089,12.5925,6.1039,8.6359,-8.9964,5.6381,14.8921,1.4647,6.6938,...,-4.0388,9.1590,2.6452,9.7621,17.2660,0.0446,-3.3196,8.0056,10.3225,-1.7882
3691,9.6941,-7.5265,10.4699,7.2748,13.6324,-6.6304,3.8343,22.0567,6.0588,8.8134,...,1.5719,8.0472,2.0257,7.2233,13.9198,1.4742,-2.5926,9.0146,10.0317,11.6792
202,10.1458,-3.7991,11.4076,7.1423,11.8607,-11.8997,5.9779,20.8832,0.5680,6.1747,...,-3.7591,5.5010,2.2331,2.9391,22.4858,-1.2093,-0.4785,8.0202,15.1383,-7.2423
5625,11.3937,-11.3267,12.8532,5.7098,10.3183,3.2308,5.2837,22.1941,-1.3830,9.3030,...,-0.3698,7.7765,2.2733,-1.4771,14.4626,-1.4897,-4.1301,7.9210,18.6329,5.9756

In [70]:
sum(var_thres.get_support())

200

In [71]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [72]:
### lets find non-constant features

len(X_train.columns[var_thres.get_support()])

200

In [74]:
constant_columns = [column for column in X_train.columns
                    if column not in X_train.columns[var_thres.get_support()]]

In [75]:
print(len(constant_columns))

0

In [77]:
for column in constant_columns:
  print(column)

In [78]:
### X_train.drop(constant_columns, axis=1)